# SPDX-FileCopyrightText: 2024 PNED G.I.E.
#
# SPDX-License-Identifier: Apache-2.0

black==26.1.0
pytest==9.0.2
requests-mock==1.12.1
pytest-cov==7.0.0
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
